/*index.css*/


/*
DISPLAYS
	block - can control width/height
	inline - cannot control width/height
	inline-block -
	none - to hide
*/


/*div has a default display of block 
where it occupies the whole width of the screen
without being affected with adjacent elements*/
#div-1 {
	background-color: green;
	display: inline;
}

#div-2 {
	background-color: hotpink;
	display: none;
}


/*span has default display of inline
will only occupy until where it reaches
it can be adjacent with other elements in page 
can change default behaviour from inline to block*/
#span-1 {
	background-color: purple;
	display: none;
	width: 200px;
	height: 200px;
}

#span-2 {
	background-color: red;
	display: block;
}


/*img has default display of inline-block*/
#img {
	width: 250px;
	height: 250px;
}


#p-1 {
	background-color: #87CEFA;
}

#p-2 {
	background-color: rgb(255, 105, 180);
	width: 60%;
}

#p-3 {
	background-color: yellow;
	width: 40%;
}

.sample {
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
	background-color: paleturquoise;
}

.img-float {
	width: 250px;
	height: 250px;
	float: inherit;
}


/*CSS UNITS*/

/*percentage versus pixels*/
	.box {
		background-color: darkred;
		color: whitesmoke;
		border: 1px solid black;
		margin: 5px;
	}

	.fifty-percent {
		width: 50%;
	}

	.one-hundred-pixels {
		width: 100px;
	}

	.parent {
		width: 135px;
		border: 2px solid navy;
	}

/*viewport width vs viewport height*/
	.box-1 {
		background-color: teal;
		color: whitesmoke;
		border: 1px solid black;
		margin: 5px;
	}

	.fifty-vw {
		width: 50vw;
	}

	.twenty-five-vh {
		height: 25vh;
	}

/*root element versus em*/

	.one-rem {
		font-size: 1rem;
	}

	.one-em {
		font-size: 1em;
	}

	.two-rem {
		font-size: 2rem;
	}

	.two-em {
		font-size: 2em;
	}

	.parent-1 {
		width: 135px;
		border: 2px solid navy;
		font-size: 30px;
		border: 1px solid hotpink;
	}

	.two-hundred-percent {
		font-size: 200%;
	}

/*BACKGROUND*/
.background {
	min-height: 20rem;
	background-color: grey;
	background-image: url(https://3.bp.blogspot.com/-IZxESReH6n4/XQ0bLMliPeI/AAAAAAAAHlQ/6OfrGxWjNes1D3qfm1tKWS_1qeaDsHENQCKgBGAs/w1920-h1080-c/halo-infinite-master-chief-uhdpaper.com-8K-10.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: fixed;
}

.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
	line-height: 35rem;
}

.container-bg {
	background-color: rgba(0, 0, 0, 0.5);
}


/*POSITION*/
.parent-element {
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 300vh;
}

.child-one {
	background-color: grey;
	padding: 10px;
}

/*
static
relative
absolute
fixed - used in nav bar
sticky
*/

.child-two {
	background-color: yellow;
	padding: 10px;
	position: sticky;
/*	position: absolute;
	top: 0; */
	top: 10px;
}

.child-three {
	background-color: grey;
	padding: 10px;
}

html {
	height: 800vh;
}

/*Z-INDEX - stack order*/

.container {
	position: relative;
}

.black-box {
	position: relative;
	z-index: 1;
	border: 1px solid black;
	background: black;
	color: white;
	height: 100px;
	margin: 30px;

}

.gray-box {
	position: absolute;
	z-index: 3;
	border: 2px solid black;
	background: lightgrey;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;

}

.green-box {
	position: absolute;
	z-index: 2;
	border: 2px solid black;
	background: lightgreen;
	height: 100px;
	width: 35%;
	left: 270px;
	top: -15px;

}