/*ACTIVITY 08 - index.css*/

/*---CSS RESET---*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

/*NAVIGATION BAR*/
nav {
	padding: 1rem;
	display: block;
	background: white;
	border-bottom: 1px solid lightgrey;
	position: sticky;
	top: 0;
}

nav ul {
	display: inline;
	list-style-type: none;
}

nav .nav-logo {
	padding-left: 5rem;
	margin: 0.5rem;
	display: inline;

}

nav .nav {
	margin: 0.5rem;
	display: inline;
}

nav .right-nav {
	display: inline-block;
	float: right;
	margin-right: 5rem;
}


/*FIRST APPLY BUTTON*/
nav .tuitt-button {
	background-color: #C2195B;
	color: white;
	border: none;
	border-radius: 100px;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 1.3rem;
	padding-right: 1.3rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

/*BACKGROUND PICTURE*/
#bg-image {
	min-height: 27rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	background-size: 100%;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 27rem;
}

/*TITLE AND SUBTITLE*/
.title {
	font-family: 'Zilla Slab', serif;
	font-size: 3.5rem;
	color: white;
	text-align: right;
	line-height: 4rem;		

	display: block;
	width: 40%;
	margin-right: 7.3rem;
	padding-top: 2rem;
	float: right;
	clear: right;
}

.subtitle {
	font-size: 1.5rem;
	font-weight: 100;
	color: white;
	text-align: right;

	display: block;
	width: 30%;
	margin: 0;
	line-height: 2rem; 
	float: right;
	clear: right;

	margin-right: 6rem;
	padding-right: 1rem;
	padding-left: 3rem;
	padding-top: 2rem;
}

/*SECOND APPLY BUTTON*/
.apply-button {
	background-color: #C2195B;
	color: white;
	border: none;
	border-radius: 100px;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 1.3rem;
	padding-right: 1.3rem;
	margin-top: 1rem;
	margin-right: 8rem;
	margin-left: 1rem;

	display: block;
	float: right;
	clear: right;
}

/*WHAT IS A DELEVOPER CAREER PROGRAM*/
.intro {
	display: block;
	height: 50vh;
}

.title-2 {
	font-family: 'Zilla Slab', serif;
	font-size: 2.5rem;
	text-align: center;

	display: block;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.intro-description {
	font-size: 1rem;
	font-weight: 100;
	text-align: left;

	display: block;
	margin-right: 20%;
	margin-left: 20%; 

	padding-right: 2.5rem;
	padding-left: 2.5rem;
	padding-top: 2rem;
}

/*PRE-FOOTER AND FOOTER*/
.pre-footer {
	background-color: #F7FBFB;
	min-height: 45vh;
	padding-top: 1rem;
}

.prefooter-description {
	text-align: center;
	margin: auto;
	padding-bottom: 1rem;
	width: 55%;
}

.book-button {
	background-color: #336589;
	color: white;
	border: none;
	border-radius: 100px;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 3rem;
	padding-right: 3rem;


	display: block;
	margin: auto;
}

footer {
	padding: 1rem;
	text-align: center;
}

footer > span {
	padding: 0.5rem;

}